version: 2.1
orbs:
  architect: giantswarm/architect@0.4.3

workflows:
  package-and-push-chart-on-tag:
    jobs:
      - architect/push-to-app-catalog:
          name: "package and push Aqua Server chart"
          app_catalog: "giantswarm-incubator-catalog"
          app_catalog_test: "giantswarm-incubator-test-catalog"
          chart: "aqua-app-server"
          # Trigger job on git tag.
          filters:
            tags:
              only: /^v.*/
      - architect/push-to-app-catalog:
          name: "package and push Aqua Enforcer chart"
          app_catalog: "giantswarm-incubator-catalog"
          app_catalog_test: "giantswarm-incubator-test-catalog"
          chart: "aqua-app-enforcer"
          # Trigger job on git tag.
          filters:
            tags:
              only: /^v.*/
      - architect/push-to-app-catalog:
          name: "package and push Aqua Scanner chart"
          app_catalog: "giantswarm-incubator-catalog"
          app_catalog_test: "giantswarm-incubator-test-catalog"
          chart: "aqua-app-scanner"
          # Trigger job on git tag.
          filters:
            tags:
              only: /^v.*/
