version: 2.1
orbs:
  architect: giantswarm/architect@2.10.0

workflows:
  package-and-push-chart-on-tag:
    jobs:
      - architect/push-to-app-catalog:
          name: "package and push Aqua Server chart"
          explicit_allow_chart_name_mismatch: true
          app_catalog: "giantswarm-catalog"
          app_catalog_test: "giantswarm-test-catalog"
          chart: "aqua-app-server"
          # Trigger job on git tag.
          filters:
            tags:
              only: /^v.*/
      - architect/push-to-app-catalog:
          name: "package and push Aqua Enforcer chart"
          explicit_allow_chart_name_mismatch: true
          app_catalog: "giantswarm-catalog"
          app_catalog_test: "giantswarm-test-catalog"
          chart: "aqua-app-enforcer"
          # Trigger job on git tag.
          filters:
            tags:
              only: /^v.*/
          requires:
            - "package and push Aqua Server chart"
      - architect/push-to-app-catalog:
          name: "package and push Aqua Scanner chart"
          explicit_allow_chart_name_mismatch: true
          app_catalog: "giantswarm-catalog"
          app_catalog_test: "giantswarm-test-catalog"
          chart: "aqua-app-scanner"
          # Trigger job on git tag.
          filters:
            tags:
              only: /^v.*/
          requires:
            - "package and push Aqua Enforcer chart"
